* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    margin: 35px auto;
    text-align: center;
}

.description {
    width: 750px;
    margin-top: 2rem;
    margin-left: 4.5rem;
}

h1 {
    margin-bottom: 3rem;
}

h4 {
    margin-block: 4rem 1rem;
}

li {
    list-style: none;
    margin-bottom: 0.6rem;
}